.tableContainer {
    height: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
}

.tbody .tr {
    border-bottom: 1px solid #e5e7eb;
}

.tr:hover {
    background-color: #f9fafb;
}

.table,
.th,
.td {
    border: 1px solid black;
}


.th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

.td {
    padding-block: 4px;
    padding-inline: 8px;
    text-align: left;
}

.noData {
    padding: 16px;
    text-align: center;
    color: #6b7280;
    font-size: 1rem;
}