.screenContainer {
    padding: 16px;
    height: 100vh;
    overflow-y: hidden;
}

.pivotFormDialog {
    margin-block: auto;
    margin-inline: auto;
    width: 400px;
    padding: 16px;
}

.screenContainer dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.pivotFormDialog dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}