.tableContainer {
    overflow-x: auto;
}

.pivotTable table,
.pivotTable th,
.pivotTable td {
    border: 1px solid black;
}

.pivotTable {
    border-collapse: collapse;
}

.pivotTable th {
    background-color: #f2f2f2;
    padding-block: 8px;
    padding-inline: 16px;
    text-align: center;
}

.pivotTable th[colspan="1"] {
    text-align: left;
}

.pivotTable td {
    padding-block: 4px;
    padding-inline: 16px;
    text-align: left;
}

.pivotTable tfoot td {
    background-color: #2463EB;
    color: white;
    font-weight: bold;
}

.rowTotal {
    font-weight: bold;
}